
//颜色值
$mainColor:#49c1ff;/*主色*/
$smainColor:#058cd3;/*主色（深、鼠标经过）*/
$mainBgColor:rgba(28, 37, 49, 0.9);/*导航栏、菜单栏*/
$bodyBgColor:#0b192c;/*留白区域背景色*/
$mainBgColor_2:rgba(28,50,76,0.5);/*模块背景色*/
$mainBgColor_3:rgba(28,50,76,0.9);/*地图悬浮模块背景色*/
$mainBgColor_4:rgba(63, 72, 84, 0.7);/*地图选择悬浮模块背景色*/
$lessBgColor:rgba(0,0,0,0.2);/*次要背景黑色1*/
$lessBgColor_2:rgba(0,0,0,0.1);/*次要背景黑色2*/
$divideLineColor_01:rgba(138, 179, 229, 0.1);/*分割线、描边*/
$divideLineColor_005:rgba(138, 179, 229, 0.05);/*分割线、描边-暗*/
$writeColor:#fff;/*纯白*/
$mainTextColor:#bacde5;/*文字主颜色*/
$lessTextColor_2:#8694a6;/*次要文字*/
$lessTextColor_3:#677280;/*输入框提示文字*/
/*搭配辅助色开始*/
$yellowColor: #ffcc19;
$orgColor: #faab6b;
$greenColor: #5fcb80;
$greenColor_2: #1fcc95;
$redColor: #fa6565;
$cornflowerBlueColor: #8A9EFF;
$curiousBlueColor: #1892e0;
$moduleColor2: #20ACCA;
$moduleColor3: #3AB7FF;
$moduleColor4: #1DCD78;
$moduleColor5: rgb(32, 161, 165);
$moduleColor6: rgb(47, 122, 76);
$progressColor: #6690FF;
$progressColor2: #354D8B;
$modelBtnBorder: #7187F0;
$modelBtnBgc: #2a3a6e;
$c7589F0: #7589F0;
$c3AB1C7: #3AB1C7;
$c54B4E0: #54B4E0;

.progressColor2 {
  background: $progressColor2;
}
.progressColor {
  background: $progressColor;
}

/*搭配辅助色结束*/
.modal.module:nth-child(1) {
  background: $cornflowerBlueColor;
}
.modal.module:nth-child(2) {
  background: $moduleColor2;
}
.modal.module:nth-child(3) {
  background: $moduleColor3;
}
.modal.module:nth-child(4) {
  background: $moduleColor4;
}
.modal.module:nth-child(5) {
  background: $moduleColor5;
}
.modal.module:nth-child(6) {
  background: $moduleColor6;
}
.module-statis .module.select {
  opacity: 1 !important;
  // box-shadow: 2px 2px 2px #b1a3a3;
}
.module-statis .modal:hover {
  opacity: 1 !important;
  // box-shadow: 2px 2px 2px #b1a3a3;
}
.lb-c7589F0 {
  background: $c7589F0;
}
.lb-c3AB1C7 {
  background: $c3AB1C7;
}
.lb-c54B4E0 {
  background: $c54B4E0;
}
html {
  min-width: 1200px;
  background-size: cover;
  overflow: hidden;
  width: 100%;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.router-view {
  width:100%;
	height:100%;
  margin: 0px;
  background-size: cover;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
}
.ui_logo {
  float: left;
  margin-top: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
}

.ui-logoImg {
  height: 30px;
}

.ui_nav {
  float: left;
  background: $mainBgColor;
  margin-left: 30px;
}

.ui_header {
  width: 100%;
  background: rgba(28, 37, 49, 0.9);
  height: 60px;
  padding: 0px 30px;
  box-sizing: border-box;
  transition: all 0.6s;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
}
.top0 .ui_header {
  top: -60px;
}
.el-menu--horizontal .el-menu-item {
  height: 60px;
  line-height: 60px;
}

.el-menu--horizontal.el-menu--dark .el-menu-item:hover, .el-menu--horizontal.el-menu--dark .el-submenu__title:hover {
  background-color: $mainBgColor;
}

.el-menu--horizontal > .el-menu-item:hover, .el-menu--horizontal > .el-submenu.is-active .el-submenu__title, .el-menu--horizontal > .el-submenu:hover .el-submenu__title {
  border-bottom: 5px solid $writeColor;
}

.el-menu--dark .el-menu-item, .el-menu--dark .el-submenu__title {
  color: $mainTextColor;
}

.el-menu--horizontal .el-menu-item:hover, .el-menu--horizontal .el-submenu__title:hover {
  color: $writeColor;
}

.ui-nav-right {
  float: right;
}

.ui-user-System {
  display: inline-block;
  position: relative;
  float: left;
  cursor: pointer;
  height: 60px;
}

.ui-admin {
  position: absolute;
  top: 68px;
  left: 0px;
  background: $mainBgColor;
  text-align: center;
  width: 150px;
  z-index: 10;
  display: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.ui-admin-li {
  line-height: 40px;
  color: $mainTextColor;
}

.ui-admin-li:hover {
  background: $lessBgColor;
  color: $writeColor;
}

.ui-admin-btl {
  border-bottom: 2px solid $lessBgColor_2;
  color: $writeColor;
}

.ui-user-System:hover > .ui-admin {
  display: block;
}

.ui-nav-exit {
  float: right;
}

.ui-nav-user {
  float: right;
  margin-right: 20px;
  line-height: 60px;
}

.ui-system {
  font-size: 16px;
  color: $writeColor;
  min-width: 80px;
  //margin-top: 26px;
  float: left;
}

.ui-nav-user-icon {
  // background: url(../assets/common/image/header_icon_more.png) no-repeat center center;
  width: 4px;
  height: 16px;
  margin-left: 20px;
  float: left;
  margin-top: 28px;
  color: $writeColor;
  cursor: pointer;
}
body {
  position: relative;
  color: #fff;
  height: 100%;
}
body >div:nth-child(1) {
  height: 100%;
}
/* 导航栏开始 */
.ui-nav-menu {
  margin-top: 0px;
}

.ui-nav-center {
  float: left;
  margin-left: 100px;
}

.ui-menu-firstli {
  float: left;
  padding: 0px 20px;
  line-height: 60px;
  position: relative;
  text-align: center;
  /*background: red;*/
}

.ui-menu-firsta {
  display: inline-block;
  text-decoration: none;
  color: $mainTextColor;
  font-size: 16px;
  padding: 0px;
  height: 60px;
  line-height: 60px;
}

.iscur {
  color: $writeColor;
  border-bottom: 2px solid $writeColor;
  box-sizing: border-box;
  font-weight: bold;
}

.ui-menu-firsta:hover {
  color: $writeColor;
  text-decoration: none;
  /* border-bottom:2px solid $writeColor; */
}

.ui-menu-second {
  width: 160px;
  display: none;
  /* padding:5px 10px; */
  background: $mainBgColor;
  line-height: 1.4;
  position: absolute;
  z-index: 10001;
  left: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.ui-menu-firstli:hover {
  background: rgba(255,255,255,.1);
}
.ui-menu-firstli.current {
  color: $writeColor;
  text-align: center;
  text-decoration: none;
}

.ui-menu-secondli {
  color: #cfcfcf;
  box-sizing: border-box;
}

.ui-menu-seconda {
  display:block;
  color: $mainTextColor;
  padding:10px;
  text-decoration: none;
}

.ui-menu-secondli:hover {
  background: $lessBgColor;
  color: $writeColor;
}

.ui-menu-seconda:hover {
  text-decoration: none;
  color: $writeColor;
}

.ui-menu-firstli:hover > .ui-menu-second {
  display: block;
}

.ui-busin-ul {
  height: 550px;
  /*	height: calc(100vh - 440px);*/
  overflow: auto;
}

.ui-busin-ul::-webkit-scrollbar { /*滚动条整体样式*/
  width: 6px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 6px;
}

.ui-busin-ul::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
  border-radius: 4px;
  /* -webkit-box-shadow: inset 0 0 5px rgba(225,225,225,0.2); */
  background: rgba(144,147,153,.3);
}

.ui-busin-ul::-webkit-scrollbar-track { /*滚动条里面轨道*/
  /* -webkit-box-shadow: inset 0 0 5px rgba(225,225,225,0.2); */
  border-radius:4px;
  background: transparent;
}

.ui-bgcolor {
  display: block !important;
  padding: 20px;
  /*background:$mainBgColor_3;*/
  height: 100%;
  box-sizing: border-box;
}

.ui-citytol {
  // padding: 0 15px;
  box-sizing: border-box;
}

.ui-city-title {
  font-size: 18px;
  color: $writeColor;
}

.ui-city-data {
  color: $mainColor;
  font-size: 40px;
  position: relative;
  transition: top 0.5s;
}

.scroll-wrap {
  /*  width: 34px; */
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  /*  border: 1px solid blue; */
  overflow: hidden;
  cursor: pointer;
}
.scroll-wrap:hover {
  background-color: #7187F0;
}
.ui-city-datali {
  background: $lessBgColor_2;
  margin-right: 2px;
  border-radius: 2px;
  height: 50px;
  padding: 5px 6px;
  font-family: impact;
  box-sizing: border-box;
  /* line-height: 50px; */
  text-align: center;
}

.ui-linebg {
  width: 4px;
  height: 18px;
  display: inline-block;
  background-color: #2196F3;
  margin-right: 15px;
  vertical-align: middle;
  margin-top: -2px;
}

.ui-height48 {
  height: 48px;
  line-height: 48px;
  cursor: pointer;
}
.ui-height48:hover {
  background-color: $cornflowerBlueColor;
}
.ui-height48.select-h {
  background-color: $cornflowerBlueColor;
}
.ui-area {
  font-size: 14px;
  margin-top: 15px;
}

.ui-nav-userimg {
  background: url(../assets/common/image/header_img_avatar.png) no-repeat left center;
  height: 48px;
  width: 48px;
  margin-top: 10px;
  vertical-align: middle;
  display: inline-block;
  float: left;
}

.ui-nav-user-icon {
  // background: url(../assets/common/image/header_icon_more.png) no-repeat center center;
  width: 4px;
  height: 16px;
  margin-left: 20px;
  float: left;
  margin-top: 28px;
  color: $writeColor;
}

.ui-menu-seconda:hover {
  text-decoration: none;
  color: $writeColor;
}

.ui-mapicon-col {
  float: left;
  color: $mainTextColor;
}

.ui-mapicon-col:hover {
  color: $mainColor;
}

/* 地图区域结束 */
/* 人像分布开始 */

.ui-boxtitle {
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 0px 30px;
  color: $mainTextColor;
  font-weight: bold;
  font-size: 18px;
  background: $mainBgColor;
  box-sizing: border-box;
}

.ui-PtitleH5 {
  height: 60px;
  line-height: 60px;
  padding: 0px 0px;
  color: $mainTextColor;
  font-weight: bold;
  font-size: 18px;
  background: $mainBgColor;
}

.ui-titleAll {
  font-size: 14px;
  color: $mainTextColor;
  cursor: pointer;
  /* margin-right:20px; */
}

.ui-posiAb {
  position: absolute;
  top: 0px;
  left: 0px;
}

/* 城市人口流向开始 */
.ui-diffuseTitle {
  /* margin-top:20px; */
  background: $mainBgColor_2;
  height: 60px;
  width: 100%;
  border-top: 1px dashed rgba(86, 205, 229, 0.1);

}

.ui-diffuseTitle .el-tabs__item {
  height: 60px;
  line-height: 60px;
}

.ui-diffuseTitle .el-tabs__header {
  border-bottom: none;
}

.ui-diffuseTitle > .ui-Intod > .ui-intodiff > .el-tabs__header > .el-tabs__nav-wrap > .el-tabs__nav-scroll > .el-tabs__nav {
  width: 180px;
  margin: 0 auto;
}

.ui-diffuseTitle > .el-tabs__item {
  box-sizing: border-box;
}

.ui-diffuseTitle .ui-tab-btn .el-tabs__item:hover, .el-tabs__item.is-active {
  color: $mainColor;
}

.ui-diffuseInto {
  width: 67%;
}

.ui-diffuseCont {
  width: 30%;
  background: $mainBgColor_3;
}

.ui-diffuseCont .el-tabs__item {
  padding: 0 16px;
  height: 42px;
  box-sizing: border-box;
  line-height: 42px;
  display: inline-block;
  list-style: none;
  font-size: 14px;
  color: $mainTextColor;
  position: relative;
}

.ui-diffuseCont .el-tabs__nav-wrap {
  overflow: hidden;
  margin-bottom: -2px;
  position: relative;
}

.ui-diffuseCont .el-tabs__item:hover, .el-tabs__item.is-active {
  color: $mainColor;
}

.ui-diffuseCont .el-tabs__header {
  border-bottom: 1px solid $divideLineColor_01;
  padding: 0;
  position: relative;
  margin: 0 0 0px;
}

.ui-diffuseCont .el-tabs--card > .el-tabs__header .el-tabs__item {
  border: 0px solid $divideLineColor_01;
  transition: all .0s cubic-bezier(.645, .045, .355, 1);
}

.ui-diffuseCont .el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
  border: 1px solid $divideLineColor_01;
  border-bottom-color: $mainBgColor_3;
  border-radius: 4px 4px 0 0;
}

.ui-proverRirst {
  border-top: 0px solid #21262c;
}

.ui-redColor {
  color: $redColor;
}

.ui-orgColor {
  color: $orgColor;
}

.ui-yelColor {
  color: $yellowColor;
}
.ui-industrySever {
  /*height:430px;*/
  overflow: auto;
}

.ui-industrySever::-webkit-scrollbar { /*滚动条整体样式*/
  width: 6px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 6px;
}

.ui-industrySever::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
  border-radius: 4px;
  /* -webkit-box-shadow: inset 0 0 5px rgba(225,225,225,0.2); */
  background: rgba(11,24,41,0.4);
}

.ui-industrySever::-webkit-scrollbar-track { /*滚动条里面轨道*/
  /* -webkit-box-shadow: inset 0 0 5px rgba(225,225,225,0.2); */
  border-radius: 0;
  background: transparent;
}

.ui-server {
  margin-left: 12px;
}

.ui-severtitle {
  color: $writeColor;
  font-size: 16px;
  /*line-height:40px;*/
  margin-top: 10px;
  margin-bottom: 10px;
}

.ui-senvercont {
  font-size: 14px;
  line-height: 25px;
}


.icon-zengjianjiantou-copy {
  color: $greenColor;
  font-size: 12px;
}

.icon-zengjianjiantou {
  color: $redColor;
  font-size: 12px;
}

.icon-bangzhu {
  font-size: 16px;
  color: rgba(186, 205, 229, 0.2);
  cursor: pointer;
}

.ui-positioning {
  position: relative;
  padding: 0px;
}

.ui-mapimg {
  height: 520px;
  position: absolute;
  top: 20px;
}

.ui-linkdensity {
  width: 250px;
  position: absolute;
  top: 20px;
  left: 20px;
  background: $mainBgColor_3;
}

.ui-linktitle {
  font-size: 14px;
  font-weight: bold;
  color: $writeColor;
  padding: 0px 10px;
  /* margin-right:20px; */
  box-sizing: border-box;
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid $divideLineColor_01;
}

.ui-link-ul {
  height: 500px;
  overflow: auto;
}

.ui-link-ul::-webkit-scrollbar { /*滚动条整体样式*/
  width: 6px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 6px;
}

.ui-link-ul::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
  border-radius: 4px;
  /* -webkit-box-shadow: inset 0 0 5px rgba(225,225,225,0.2); */
  background: rgba(11,24,41,0.4);
}

.ui-link-ul::-webkit-scrollbar-track { /*滚动条里面轨道*/
  /* -webkit-box-shadow: inset 0 0 5px rgba(225,225,225,0.2); */
  border-radius: 0;
  background: transparent;
}

.ui-link-li {
  border-bottom: 1px solid $divideLineColor_01;
  padding: 10px 0px 0px 0px;
  cursor: pointer;
}

.ui-link-li:hover {
  background: $divideLineColor_01;
}

.ui-link-li .ui-width190 {
  color: $writeColor;
}

.ui-linkP {
  margin-left: 45px;
  padding-bottom: 10px;
}

.el-input__inner {
  background-color: $mainBgColor;
}
.el-select-dropdown {
  background-color: $mainBgColor;
}
.ui-menu-second {
  background-color: $mainBgColor;
}
// 下拉选择
.el-dropdown-menu {
  background-color: $mainBgColor_4;
  border: none;
}
.el-dropdown-menu__item {
  color: $writeColor;
}
body .el-dropdown-menu__item:focus,body .el-dropdown-menu__item:not(.is-disabled):hover {
  background-color: $smainColor;
  color: $writeColor;
}
// 搜索框
body .cesium-geocoder-input {
  width: 260px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  text-indent: 8px;
  outline: none;
  float: left;
  border: none;
  box-shadow: 0px 2px 6px #3a3c42;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  color: #ffffff;
    background-color: rgba(63, 72, 84, 0.7);
    border: none;
}
body .search-results {
  width: 260px;
  box-shadow: 1px 2px 1px rgba(0,0,0,.15);
  background: rgba(63, 72, 84,0.9);
  overflow: hidden;
}
body .search-results li{
  font-size: 12px;
    height: 36px;
    line-height: 36px;
    list-style-type: none;
    padding-left: 20px;
    text-decoration: none;
    color: #dcdcdc;
}
body .cesium-geocoder-searchButton {
  top: 0;
  width: 50px;
  height: 40px;
  float: left;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: rgba(35, 68, 117, 0.85);
  right: inherit;
}