
//颜色值
$mainColor:#286efa;/*主色*/
$smainColor:#058cd3;/*主色（深、鼠标经过）*/
$mainBgColor:rgba(28, 37, 49, 0.9);/*导航栏、菜单栏*/
$bodyBgColor:#333;/*留白区域背景色*/
$mainBgColor_2:rgba(28,50,76,0.5);/*模块背景色*/
$mainBgColor_3:rgba(28,50,76,0.9);/*地图悬浮模块背景色*/
$mainBgColor_4:rgba(63, 72, 84, 0.7);/*地图选择悬浮模块背景色*/
$lessBgColor:rgba(0,0,0,0.2);/*次要背景黑色1*/
$lessBgColor_2:rgba(0,0,0,0.1);/*次要背景黑色2*/
$divideLineColor_01:rgba(138, 179, 229, 0.1);/*分割线、描边*/
$divideLineColor_005:rgba(138, 179, 229, 0.05);/*分割线、描边-暗*/
$writeColor:#fff;/*纯白*/
$mainTextColor:#bacde5;/*文字主颜色*/
$lessTextColor_2:#8694a6;/*次要文字*/
$lessTextColor_3:#677280;/*输入框提示文字*/
/*搭配辅助色开始*/
$yellowColor: #ffcc19;
$orgColor: #faab6b;
$greenColor: #5fcb80;
$greenColor_2: #1fcc95;
$redColor: #fa6565;
$cornflowerBlueColor: #8A9EFF;
$curiousBlueColor: #1892e0;
$moduleColor2: #20ACCA;
$moduleColor3: #3AB7FF;
$moduleColor4: #1DCD78;
$moduleColor5: rgb(32, 161, 165);
$moduleColor6: rgb(47, 122, 76);
$progressColor: #6690FF;
$progressColor2: #354D8B;
$modelBtnBorder: #7187F0;
$modelBtnBgc: #2a3a6e;
$c7589F0: #7589F0;
$c3AB1C7: #3AB1C7;
$c54B4E0: #54B4E0;

.page-index::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 6px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 6px;
}

.page-index::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 0px;
  /* -webkit-box-shadow: inset 0 0 5px rgba(225,225,225,0.2); */
  background: rgba(225, 225, 225, 0.2);
}

.page-index::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  /* -webkit-box-shadow: inset 0 0 5px rgba(225,225,225,0.2); */
  border-radius: 0;
  background: rgba(225, 225, 225, 0.2);
}
.progressColor2 {
  background: $progressColor2;
}
.progressColor {
  background: $progressColor;
}
.h3, h3, p {
  line-height: 1;
}
html {
  min-width: 1200px;
  background-size: cover;
  overflow: hidden;
  width: 100%;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.router-view {
  width:100%;
	height:100%;
  margin: 0px;
  background-size: cover;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
}
body {
  position: relative;
  color: #fff;
  height: 100%;
}
body >div:nth-child(1) {
  height: 100%;
}
body .el-dropdown-menu__item:focus,body .el-dropdown-menu__item:not(.is-disabled):hover {
  background-color: $smainColor;
  color: $writeColor;
}
// 搜索框
body .cesium-geocoder-input {
  width: 260px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  text-indent: 8px;
  outline: none;
  float: left;
  border: none;
  box-shadow: 0px 2px 6px #3a3c42;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  color: #ffffff;
    background-color: rgba(63, 72, 84, 0.7);
    border: none;
}
body .search-results {
  width: 260px;
  box-shadow: 1px 2px 1px rgba(0,0,0,.15);
  background: rgba(63, 72, 84,0.9);
  overflow: hidden;
}
body .search-results li{
  font-size: 12px;
    height: 36px;
    line-height: 36px;
    list-style-type: none;
    padding-left: 20px;
    text-decoration: none;
    color: #dcdcdc;
}
body .cesium-geocoder-searchButton {
  top: 0;
  width: 50px;
  height: 40px;
  float: left;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: rgba(35, 68, 117, 0.85);
  right: inherit;
}
input[type="text"], input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 10px;
  padding-right: 10px;
  color: #333;
  border: #e9e9e9 1px solid;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.border-style1 { //           边框样式
  border-color: #4b4b4b #000 #000 #4b4b4b;
  border-style: solid;
  border-width: 1px;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
.flexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}
.SidebarHotspot_header_3SfNUL {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}